extends layout

block content
    section.container.about
        h3 About Us
        br
        div.about-q "You don’t always need money to help others, you just need a heart."
        p We are a group of Engineering students from Bengaluru. This project was developed with the aim of satisfying the rapidly increasing need for essential services like beds, oxygen cylinders, etc. 
        p We, as budding engineers want to contribute and help the people in need during this grave pandemic.
        p We appreciate the efforts of all the volunteers participating in this project and expect them to avoid any misinformation.
        div.ht #WeAreInThisTogether
        br
        div.about-q We would love to hear from you, get in touch with us:
        br
        div.profile
            span.name Darshan H M (Pursuing B.E. in CSE, JSSATE-B)
            ul
                li Mail: naikdarsh175@gmail.com
        h5 P Sujith (Pursuing B.E. in EIE, RVCE)
        ul  
            li Mail: sujithmagvel@gmail.com
        h5 Rohith Vivek Kamath (Pursuing B.E. in EIE, RVCE)
        ul  
            li Mail: rohithvkamath@gmail.com
