extends layout

block content
    section.container.about
        h2 About Us
        br
        div.about-q "You don’t always need money to help others, you just need a heart."
        br
        p We are a group of Engineering students from Bengaluru. This project was developed with the aim to address the rapidly increasing need for essential services like beds, oxygen cylinders, etc. 
        p We, as budding engineers want to contribute and help the people in need during this grave pandemic.
        p We appreciate the efforts of all the volunteers participating in this project and expect them to avoid any misinformation.
        div.ht #WeAreInThisTogether
        section.contact.card
            div.contact-h We would 
                b love 
                | to hear from you, get in touch with us:
            br
            div.profile
                div.name &#128526; Darshan H M (Pursuing B.E. in CSE, JSSATE-B)
                a(href="mailto:naikdarsh175@gmail.com" target="_blank").contact-icons
                    i.bi.bi-envelope-fill 
                    span.email-id naikdarsh175@gmail.com
                a(href="https://www.linkedin.com/in/darshanhm" target="_blank").contact-icons
                    i.bi.bi-linkedin 
                a(href="https://github.com/Kn0wn-Un" target="_blank").contact-icons
                    i.bi.bi-github
            div.profile
                div.name &#128218; P Sujith (Pursuing B.E. in EIE, RVCE)
                a(href="mailto:sujithmagvel@gmail.com" target="_blank").contact-icons
                    i.bi.bi-envelope-fill 
                    span.email-id sujithmagvel@gmail.com
                a(href="https://www.linkedin.com/in/p-sujith-2a8118203/" target="_blank").contact-icons
                    i.bi.bi-linkedin 
            div.profile
                div.name &#9917; Rohith Vivek Kamath (Pursuing B.E. in EIE, RVCE)
                a(href="mailto:rohithvkamath@gmail.com" target="_blank").contact-icons
                    i.bi.bi-envelope-fill 
                    span.email-id rohithvkamath@gmail.com
    footer  
        a(href="https://github.com/Kn0wn-Un/Sambhuya" target="_blank") View source code in 
            i.bi.bi-github
            span  Github