doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    aside.navigation
        ul
            li 
                a(href='/') Home 
            if !currentUser 
                li 
                    a(href='/sign-up') Register
            if currentUser 
                li 
                    a(href='/user') My Profile
            else
                li 
                    a(href='/login') Login
            li 
                a(href='/about') About Us  
            li 
                a(href='/about/contact') Contact Us 
    section.content
        block content
