extends layout 
block content 
    h1 Login 
    form.form-control(method='POST' action='')
        label(for='email') Email:
        br
        input.input-group.mb-3#email(type='email' placeholder='' name='email' required='true')
        br
        label(for='password') Password:
        br
        input.input-group.mb-3#password(type='password' name='password' required='true')
        button.btn.btn-primary(type='submit') Login
    section
        if errors
            div.alert.alert-danger
                for error in errors
                    div= error.msg
        if passError
            div.alert.alert-danger 
                h4.alert-heading Password Should Contain
                ul
                    li= passError