extends layout 
block content 
    h1 Login 
    form(method='POST' action='')
        label(for='email') Email:
        br
        input#email(type='email' placeholder='' name='email' required='true')
        br
        br
        label(for='password') Password:
        br
        input#password(type='password' name='password' required='true')
        button.btn.btn-primary(type='submit') Login
    if errors
        ul
        for error in errors
            li!= error.msg
    if passError
        ul
            li= passError