extends layout 
block content 
    section.container.login-form
        if toast 
            .alert.alert-success(role='alert')=toast
                br
                a.alert-link(href="/user") Return to Profile page
        else
            h1 Change Password
            form.form-control(method='POST' action='')
                label(for='oldpassword') Enter Old Password:
                input.input-group.mb-3#password(type='password' name='oldpassword' required='true')
                label(for='newpassword') Enter New Password:
                input.input-group.mb-3#password(type='password' name='newpassword' required='true')
                label(for='confirm') Confirm New Password:
                input.input-group.mb-3#password(type='password' name='confirm' required='true')
                ul.form-text 
                    li Password should have a 
                        em 
                            b minimum 
                        | of 8 characters
                    li Password can have a 
                        em 
                            b maximum 
                        | of 25 characters
                    li Password should contain an 
                        em 
                            b Uppercase 
                        | letter
                    li Password should contain a 
                        em 
                            b Digit 
                    li Password should 
                        em not 
                        | contain spaces
                button.btn.btn-primary(type='submit') Change Password
            if passError
                div.alert.alert-danger=passError