extends layout 
block content 
    section.container.login-form
        h1 Login 
        form.form-control(method='POST' action='')
            label(for='email') Email:
            br
            input.input-group.mb-3#email(type='email' placeholder='' name='email' required='true')
            br
            label(for='password') Password:
            br
            input.input-group.mb-3#password(type='password' name='password' required='true')
            if passError
                ul.form-text 
                    li Password should have a 
                        em 
                            b minimum 
                        | of 8 characters
                    li Password can have a 
                        em 
                            b maximum 
                        | of 25 characters
                    li Password should contain an 
                        em 
                            b Uppercase 
                            | letter
                    li Password should contain a 
                        em 
                            b Digit 
                    li Password should 
                        em not 
                        | contain spaces
            div.invalid-feedback
            br
            button.btn.btn-primary(type='submit') Login
        section.error-display
            if errors
                div.alert.alert-danger
                    for error in errors
                        div= error.msg
            if passError
                div.alert.alert-danger Invalid Password