extends layout 
block content 
    h1 Login 
    form(method='POST' action='')
        div
            label(for='name') Name:
            br
            input#name(type='text' placeholder='Name' name='name' required='true')
        br
        br
        div
            label(for='password') Password:
            br
            input#password(type='text' name='password')
        button.btn.btn-primary(type='submit') Login
    if errors
        ul
        for error in errors
            li!= error.msg