extends layout

block content
    h1 Hello, #{currentUser.name}
    a(href='/post/new-post')
        h3 New Post
    a(href='/') Back to home 
    br
    | or 
    br
    a(href='/logout') Logout
    if posts
    ul
    for post in posts
        li
            a(href=post.url)= post.description
