.content {
	padding: 50px;
}
.web-name {
	padding: 0 25px;
	font-size: 35px;
}
@media screen and (min-width: 1024px) {
	nav {
		height: 100px;
	}
	.nav-link {
		font-size: 18px;
	}
}
.nav-link:hover {
	transform: scale(1.2);
}
.imp-links button {
	width: 100%;
}
.posts {
	margin: 10px 0;
	padding: 10px;
}
.posts:hover {
	background-color: rgba(0, 0, 0, 0.1);
	transform: scale(1.01);
	color: rgb(10, 88, 255);
}
.col {
	text-decoration: none;
}
.post-container {
	margin-top: 25px;
}
.filter {
	display: flex;
	flex-wrap: nowrap;
}
.filter-btn {
	width: 15%;
}
.nav-logout {
	display: none;
}
@media screen and (max-width: 768px) {
	.filter-btn {
		width: 100%;
	}
	.web-name {
		font-size: 25px;
	}
	.page-logout {
		display: none;
	}
	.nav-logout {
		display: block;
	}
}
.login-form {
	width: 350px;
	padding: 3% 0;
}
.login-form form {
	padding: 15px;
	font-size: 18px;
}
.error-display {
	margin-top: 10px;
}
.contact-group h4,
.contact-group a {
	padding: 0 20px;
}
.contact-group a {
	font-size: 18px;
}
.contact-group a:hover {
	transform: scale(1.2);
}
.page-logout {
	margin-right: 3vw;
}
.user-name {
	padding: 20px 0;
	font-size: 60px;
}
.post-heading {
	font-size: 40px;
}
.new-post {
	color: white;
	background-color: rgb(13, 110, 253);
}
.new-post:hover {
	color: rgb(13, 110, 253);
	background-color: white;
}
.btn:hover {
	transform: scale(1.1);
}
