.content {
	padding: 50px;
}
.web-name {
	padding: 0 25px;
	font-size: 35px;
}
.nav-link:hover {
	transform: scale(1.2);
}
.imp-links button {
	width: 100%;
}
.posts {
	margin: 10px 0;
	padding: 10px;
}
.posts:hover {
	background-color: rgba(0, 0, 0, 0.1);
	transform: scale(1.01);
	color: rgb(10, 88, 255);
}
.col {
	text-decoration: none;
}
.post-container {
	margin-top: 25px;
}
.filter {
	display: flex;
	flex-wrap: nowrap;
}
.filter-btn {
	width: 15%;
}
.nav-logout {
	display: none;
}
.login-form {
	width: 350px;
	padding: 3% 0;
}
.login-form form {
	padding: 15px;
	font-size: 18px;
}
.error-display {
	margin-top: 10px;
}
.contact-group h4,
.contact-group a {
	padding: 0 20px;
}
.contact-group a {
	font-size: 18px;
}
.contact-group a:hover {
	transform: scale(1.2);
}
.page-logout {
	margin-right: 3vw;
}
.user-name {
	padding: 20px 0;
	font-size: 53px;
}
.post-heading {
	font-size: 40px;
}
.new-post {
	color: white;
	background-color: rgb(13, 110, 253);
}
.new-post:hover {
	color: rgb(13, 110, 253);
	background-color: white;
}
.btn:hover {
	transform: scale(1.1);
}
.post-details,
.lead-buttons {
	margin-bottom: 15px;
	width: 500px;
}
.post-details h5 {
	font-weight: 600;
}
.lead-container {
	padding-bottom: 20px;
}
.posted-by {
	color: grey;
	font-weight: 600;
	margin-top: 20px;
}
.lead-buttons {
	display: flex;
	justify-content: space-between;
}
#share {
	display: none;
}
.copy-success {
	text-align: center;
	visibility: hidden;
	z-index: -1;
	position: relative;
}
.show {
	visibility: visible;
	left: 25px;
	-webkit-animation: showToast ease-out 0.4s;
	animation: showToast ease-out 0.4s;
}
.copy-text {
	position: relative;
	top: -3px;
}
.create-text {
	position: relative;
	top: -3px;
	left: 3px;
}
.verified {
	padding-bottom: 5px;
	color: rgb(25, 135, 84);
	font-style: italic;
}
.verified-txt {
	font-size: 1.1em;
	position: relative;
	top: -5px;
	padding-left: 5px;
}
.verify-icon {
	position: relative;
	top: 3px;
}
.verify-div {
	color: grey;
	font-style: italic;
	margin-top: 10px;
}
.thanks {
	color: rgb(13, 110, 253);
}
.thanks-icon {
	color: red;
	padding-left: 3px;
}
@keyframes showToast {
	from {
		top: -20px;
	}
	to {
		visibility: visible;
		top: 0px;
	}
}
@media screen and (max-width: 768px) {
	.filter-btn {
		width: 100%;
	}
	.web-name {
		font-size: 25px;
	}
	.page-logout {
		display: none;
	}
	.nav-logout {
		display: block;
	}
	.post-details,
	.lead-buttons {
		width: 300px;
	}
}
@media screen and (min-width: 1024px) {
	nav {
		height: 100px;
	}
	.nav-link {
		font-size: 18px;
	}
}
